@import './index.sass'

.App
  text-align: center

.submit
  border: 2px solid $primary
  background: $white
  padding: 8px 20px
  border-radius: 5px
  color: $primary
  margin: 5px
  font-weight: 700
  font-size: 1em

  &:active
    background: $primary
    color: $white
    border: 2px solid $primary
